.container {
  /*background-color:rgb(96, 98, 99);*/
  max-width: 1540px !important;
}

.nav {
  color: #fff;
  padding-top: 12px;
  padding-left: 55px;
}

#rk {
  padding-left: 850px;
}

.nav-link {
  color: black;
}

.nav.nav-pills .active a {
  color: orange;
  border-bottom: 2px solid rgba(186, 68, 6, 1);
  border-radius: 0;
}

.nav.nav-pills {
  list-style-type: none;
  display: flex;
  width: 75%;

  justify-content: none;
}

.mainheader {
  padding-left: 50px;
}

button.btn-primary {
  background-color: transparent !important;
  color: yellow !important;
  border-color: yellow;
  padding: 10px 36px;
  font-size: 18px;
}

.nav.nav-pills li {
  color: #000;
  font-size: 16px;
  padding-left: 35px;
  padding-right: 20px;
}

.red {
  background-color: #5b5b5b;

}

.body {
  background-color: white;
}

.col-6 {
  position: relative;
  color: #fff;

  margin: 0px;
  padding: 0px;
}

/*.d{
    height: 450px;
/*background:linear-gradient(270.52deg,#05374275.45%, rgba(0, 0, 0, 0))94.64%);
transform: matrix(0, 0, 1, 0, 0);
background: linear-gradient( to right , #053742 75.45%, rgba(0, 0, 0, 0) 99.64%);
transform: matrix(1, 0, 0, 1, 0, 0);
}*/
/*.graet{
    margin-left: 200px;
    margin-right: 25px;
    max-width: 1499px;
  margin-right:25px;
}*/

.grt {
  width: 1200px;

}

.gst {
  font-size: 26px;
  text-align: center;
  padding-bottom: 15px;

}

/*.water{
  font-size: 45px;
  padding-left: 40px;
  padding-top: 25px;
}*/
/*.ra{
  
  margin-left: 25px;
  margin-right:25px;
  background-size: cover;
  background-position: none;
  height:300px;
}*/
.ra {
  /*margin-left: 1px;*/
  /*  margin-right: -324px;*/
  margin-left: 0px;
  margin-right: -319px;
  background-size: cover;
  background-position: none;
  height: 272px;
}

.who {
  display: inline-flex;
  height: 139px;
  width: 139px;
  background-color: #ffc107;
  border-radius: 68%;
  /*text-align:center;*/
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 50px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 36px;
  /*font-family: nuntio Sans;*/
}

#mig-21 {
  margin-left: 25px;
  padding-left: 20px;
  padding-right: 85px;
  padding-top: 70px;
  color: #fff
}

#red {
  border: 1px solid yellow;
  width: 90px;
  height: 30px;
  text-align: center;
}

#mig {
  margin-top: 20px;
  margin-left: 20px;
}

/* #hand{
  font-size: 18px;
  border: 2px solid yellow;
  height: 45px;
  width: 130px;
  text-align: center;
} */
.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: transparent;
  color: #FFC107;
  border-color: #FFC107;
  border-radius: 4px;
  padding: 10px 42px;
}

/*--css--*/
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.col-md-4 {
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.miraz {
  float: left;
  margin-top: 20px;
  margin-left: 80px;
  height: 350px;
  width: 400px;
}

.mig-22 {
  float: left;
  padding-bottom: 20px;
  margin-left: 90px;
  /* display: inline-block;*/
}


.psv {
  float: right;
  padding-right: 20px;
  margin-left: 25px;
}

/*.signup{
  width: 3500px;
  height: 350px;
  padding-top: 15px;
  margin-top: 50px;
  padding-right:0px;
}
*/
/*.signup{

padding-right: -600px;
}*/
#mine {
  margin-left: 15px;
}

.demo img {
  filter: invert(1);
}

.dettol {
  text-align: center;
  padding-top: 5rem;
  color: #fff;
  font-size: 30px;
  padding-left: 250px;
  margin-bottom: 0px;
}

#dettol {
  width: 150px;
  text-align: center;
  font-size: 30px;
  color: #ffc107;
  border: 1px solid yellow;
  height: 50px;
  margin-left: 49rem;
  border-radius: 4px;
}

.figma {
  margin-left: 124px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.col-4 {
  /* height: 250px;*/
  width: 450px;
}

/*.sigma{
  padding-top: 90px;
  text-align: left;
  font-size: 35px;
  color:blueviolet;
  font-weight: 700;
}
.mi{
  padding-top: 150px;
  position: absolute;
  padding-left: -10px;
  padding-right: 20px;
  text-align: center;
  font-size: 15px;
  color:#fff;
  font-weight: 700;
  
}
/*.qwertr{
  background-color: rgba(62, 87, 96, 0.7);
  /*margin: 0px;
  padding: 0px,150px,0px,0px;/*
  width: 360px;
}
*/
/*.footer{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}
*/
.col-4 {
  position: relative;
  margin-bottom: 58px;
}

.col-4 {
  position: relative;
}

.col-4 {
  position: relative;
}

h4.our {
  font-weight: 700;
  font-size: 60px;
  color: #842B81;
  margin-top: 20px;
}

img,
svg {
  vertical-align: middle !important;
}

.team p {
  font-size: 16px;
  font-weight: 900;
  font-family: 'Nunito Sans';
}

.team {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  left: 12px;
  min-height: 105px;
  left: 12px;
  right: 12px;
  padding: 15px 15px 50px 15px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: rgba(18, 31, 51, 0.7);
}

.teams {
  margin-left: 90px;
  margin-top: 50px;
}

.footer {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 15px !important;
  background: transparent;
  border: 1px solid #c4c4c4;
  color: red;
}

.child {
  align-items: center;
  background-image: url(../images/image_2022_02_11T05_17_31_019Z.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60%;
  margin-bottom: 40px;
}

header {
  align-items: center;

  background: rgb(5, 55, 66);
  background: linear-gradient(90deg, rgba(5, 55, 66, 1) 40%, rgba(5, 55, 66, 0) 100%);
  padding-top: 50px;
  padding-bottom: 28px;

}

.title {
  font-size: 52px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
  font-family: 'Nunito Sans';
  padding-left: 40px;
  padding-top: 25px;
}

.angle {
  font-weight: 700;
  font-size: 44px;
  color: #fff;
  font-family: 'Nunito Sans';
  padding-left: 40px;
  padding-top: 25px;
}

p.p {
  font-size: 52px;
  margin-bottom: 0;
  color: white;
  font-weight: 400;
  padding-left: 40px;
  padding-top: 25px;
}

.child-about {
  align-items: center;
  background-image: url(../images/about-us-feature-image\ 1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 68%;
  margin-bottom: 40px;
}

.child-contact {
  align-items: center;
  background-image: url(../images/firmbee-com-SpVHcbuKi6E-unsplash\ 1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60%;
  margin-bottom: 40px;
}

.child-events {
  align-items: center;
  background-image: url(../images/pexels-pixabay-356065\ 1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60%;
  margin-bottom: 40px;
}

.child-ouract {
  align-items: center;
  background-image: url(../images/yogendra-singh-qJU9oH0kZdc-unsplash\ 1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60%;
  margin-bottom: 40px;
}

.angle-1 {
  font-family: Montserrat;
  font-size: 38px;
  line-height: 46px;
  color: #F4F9F9;
  padding-left: 40px;
  padding-top: 25px;
}

.p-1 {
  font-family: Montserrat;
  font-size: 18px;

  color: #F4F9F9;
  padding-left: 40px !important;
  padding-top: 25px !important;
  line-height: 25px;
}

#rac {
  width: 55px !important;
  height: 15px !important;
  margin-left: 150px !important;

}

#paragraph {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  padding-left: 200px;
  padding-right: 200px;
  color: #842B81;
}

#rad {
  width: 55px !important;
  height: 15px !important;
  margin-left: 1335px !important;
}
.paragraph{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  padding-left: 299px;
  padding-right: 200px;
  color: #842B81;
}
.border{
 border: 0.5px solid #842B81 !important;
    width: 25px !important;
    height: 0px !important;
    position: absolute;
    left: 263px;
    margin-top: 13px;
}
.asus{
  background-image: url(../images/Mask\ Group.png);
  background-size: cover;
  background-repeat: no-repeat;
width: 1540px !important;
height: 325px;
left: 0px;
top: 932px;
}
.foundation{
  color:#fff;
  padding-left: 150px;
  padding-right: 900px;
  padding-top: 50px;
  line-height: 41px;
}
.ras{
  background-image: url(../images/pexels-pixabay-355952\ 1.png);
  /*background-size: cover;*/
  background-repeat: no-repeat;
  color: #fff;
  width: 396px;
height: 275px;
margin-top: 70px;
margin-left: 140px;
padding-top: 30px;
padding-left: 30px;
padding-right: 90px;
line-height: 25px;
}
ul {
  margin-top: 71px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 600;
}
.rcs{
  background-image: url(../images/pexels-clement-eastwood-5399403\ 1.png);
  /*background-size: cover;*/
  background-repeat: no-repeat;
  color: #fff;
  width: 396px;
height: 275px;
margin-top: 70px;
padding-top: 79px;
padding-left: 30px;
padding-right: 90px;
line-height: 25px;
}
.rcb{

    margin-top: 85px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 120px;
}
.rect{
  border: 100px solid
  #053742;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin-left: 150px;
  margin-right: 150px;
}
.num{

}
.para{
 /* position: absolute;
width: 1140px;
height: 73px;
left: 150px;
top: 605px;*/

font-family: Nunito Sans;
font-style: italic;
font-weight: 300;
font-size: 24px;
line-height: 33px;
color: #000000;
margin-left: 58px;
margin-right: 30px;
}
.graph{
  width: 1110px;
height: 265px;
left: 180px;
top: 728px;
margin-left: 46px;
background: #F9F9F9;
margin-top: 50px;
margin-bottom: 50px;
}
.details{
  width: 133px;
height: 41px;
border: 1px solid #842B81;
box-sizing: border-box;
border-radius: 4px;
padding-left: 25px;
padding-top: 8px;
}
.oct{
  width: 1162px;
height: 580px;
margin-left: 150px;
background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.jan{
background-image:url(../images/pexels-alex-green-5699456.png);
background-repeat: no-repeat;
background-size: cover;
width: 581px;
height: 580px;
left: 720px;
top: 605px;
opacity: 1.5;
background-color: rgba(18, 31, 51, 0.7);
}
.jakkur{
  margin-left:50px;
}
#you{
  width: 490px;
  margin-left: 50px;
  box-sizing: border-box;
  height: 40px;
  padding-left: 10px;
  line-height: 50px;
}
.send{
  border:1px solid #842B81;
  border-radius: 4px;
  width: 148px;
height: 42px;
color: #842B81;
font-weight: bold;
font-size: 16px;
margin-left: 50px;
}
.rj{
  width: 490px;
  margin-left: 50px;
  box-sizing: border-box;
  height: 200px;
  padding-bottom: 150px;
  padding-left: 10px;
}
.imparting{
  background-image:url(../images/pexels-plato-terentev-5909870\ 1.png);
  background-size: cover;
  background-repeat: repeat;

height: 519px;
  margin-top: 50px;
}
.border-1{
  border: 0.5px solid #FFFFFF!important;
     width: 25px !important;
     height: 0px !important;
     position: absolute;
     left: 263px;
     margin-top: 77px;
 }
 .paragraph-1{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  padding-left: 299px;
  padding-right: 200px;
  color:#fff;
  margin-top: 80px;
}
.img.white-1 {
  margin-left: 100px;
  margin-top: 22px;
  position: absolute;
}
.white-2{
  position: absolute;
  margin-left: 1313px;
  margin-top: -20px;
}
.robotech{
  width: 674px;

font-size: 28px;
line-height: 145%;
color: #842B81;
}
.lab{
  width: 830px;
  margin-left: 50px;
}
.event{
  width: 321px;
font-weight: 700;
font-size: 28px;
color: #842B81;
}
.trivikrama{
  width: 700px;
height: 130px;
font-family: Montserrat;
font-size: 18px;
line-height: 145%;
color: #000000;
}
.note{
  width: 454px;
font-size: 16px;
line-height: 145%;
color: #000000;
margin-left: 0px;
justify-content: end;
}
#dharani{
  padding-left: 325px;
}
img#dharani-9 {
  padding-left: 299px;
}
img#dharani-6 {
  padding-left: 327px;
}
img#dharani-7 {
  padding-left: 322px;
}
img#dharani-8 {
  padding-left: 321px;
}img#dharani-2{
  padding-left: 313px;
}
.course{
height: 41px;

font-size: 28px;
line-height: 145%;
color: #842B81;
}
.science{
  color: #842B81;
  font-weight: bold;
  font-size: 28px;
  margin-left: 50px;
  padding-top: 70px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.village{
  margin-top: 40px;
  padding-left: 0px !important;
 
}
#myvillage{
  border-radius: 3px;
 /*padding-left: 30px;*/
 margin-left: 30px;
}